.header{
    display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
 justify-content: center;
  background-color: #F7F7F7;
  height: 72px;
  border-bottom: 1px solid #F2F4F7;
  
}
.nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.logo{
   position: absolute;
   left: 28px;
}
.nav a {
font-size: 16px;
line-height: 150%;
text-align: center;  
  text-decoration: none; 
  font-weight: 500;
  color: #101828;     
  transition: color 0.3s;
}

.nav a:hover {
  color:  #D84343;      
}
.nav a.active {
  color:  #D84343;
  
}