.card{
display: flex;
flex-direction: row;
border: 1px solid #dadde1;
border-radius: 20px;
padding: 24px;
width: 888px;

}
.typebox{
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    margin-left: 24px;
    flex-grow: 1;
}
.image{
    border-radius: 10px;
width: 292px;
height: 320px;
object-fit: cover;
}
.namebox{
      display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}
.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bottomRow {
  display: flex;
  align-items: center;
  gap: 16px;
}
.name{
   font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin: 0;    
}
.reviews,
.location {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #6c717b;
  font-size: 16px;
  line-height: 150%;
}
.price {
  font-weight: 600;
  font-size: 24px;
  color: var(--main-color, #101828);
}
.text{
    display: flex;
    font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: center;
background-color: #f2f4f7;
border-radius: 100px;
padding: 4px 4px;
align-items: center;
}
.info{
    display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 8px;
}
.info p{
    font-weight: bold;
}
.description{
    color: #475467;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: 8px;
}
.butonbox{
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    margin-top: 34px;
}
.button{
border-radius: 200px;
padding: 16px 60px;
width: 166px;
height: 56px;
background:  #E44848;
}
.button:hover{
    background-color: #D84343;
}
