:root {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #101828;

  color-scheme: light dark;
  color: rgba(10, 10, 10, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #ffffff;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: var(--font-family);
}
ul{
    list-style: none;
}








